@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts/centurygothic.woff2') format('woff2'),
         url('fonts/centurygothic.woff') format('woff'),
         url('fonts/centurygothic.ttf') format('ttf');
    font-weight: normal;
}